{{extend 'layout.html'}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Case</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>


    <body>
    <div class = "navpills">
        <ul class="nav nav-tabs">

            <li><a href="../default/gallery">Gallery {{=icon_gallery}}</a></li>
            <li><a href="../default/feed">Explore {{=icon_explore}}</a></li>
            <li><a href="../default/upload">Upload {{=icon_upload}}</a></li>
            {{if auth.is_logged_in():}}
                <li><a href="../default/user/logout">Log Out {{=icon_logout}}</a></li>
            {{else:}}
                <li><a href="../default/user/login">Log In</a></li>
            {{pass}}
        </ul>
    </div>

<div id="target"></div>

<script id="template" type="text/ractive">
<div class="feed">
    {% #image_dict:id %}
        <div class="feedItem">
            <div class="feedLeft">
                <img class="feedImg" src="{% down_url %}{% image %}" align="center"/>
            </div>

            <div class="feedRight">
                <div class="commenthead" style="display: block; height: 50px;">
                    {% name %}
                </div>
                <div class="commenthead" style="display: block; height: 50px;">
                    {% description %}
                </div>
                <div class ="commenthead">Comments:</div>
                <div class="comments" style="display: block; height: 200px; overflow-y: scroll">
                    {% #comments:id %}
                    <div class="singlecomment">
                        <div class="textback">
                        {% comments[id] %}
                        </div>
                        {% /comments %}
                    </div>
                    <br>

                    <div class="add_comment">
                        {% #if is_draft %}
                                <div class="desc_head"> Add Comment: </div>
                                <textarea value="{% active_comment %}" class="text form-control" cols="5" id="no_table_message" name="comm" rows="3">
                                </textarea>
                                <button class="btn btn-success" data-msgid="{% id %}" on-click="add_comment">
                                Submit Note
                                </button>
                        {% else %}
                                <button class="btn btn-success" data-msgid="{% id %}" on-click="set_draft">
                                Add Note
                                </button>
                        {% /if %}
                    </div>
                    {% /comments %}
                </div>
            </div>
        </div>
        <br>
    {% /image_dict %}
</div>
</script>


<script>
jQuery('input.rating').each(function(){
        var span = jQuery('<span style="white-space:nowrap" />');
        var self = jQuery(this).hide().after(span);
        var fill_stars = function() {
            var k = parseInt(self.val()) || 0;
            for(var i=1; i<6; i++) span.find('.rate'+i).html((i<=k)?'&#x2605;':'&#x2606;');
        };
        for(var k=1; k<6; k++) (function(k){
                span.append('<span class="rate'+k+'">&#x2606;</span>');
                span.find('.rate'+k).mouseover(function(){
                        for(var i=1; i<6; i++) span.find('.rate'+i).html((i<=k)?'&#x2605;':'&#x2606;');
                    }).click(function(){
                      self.val(k);
                      fill_stars();
                      jQuery.post(
                              '{{=URL('vote', user_signature=True)}}',
                              {
                                'picid':self.attr('data-picid'),  // request.vars.picid
                                'rating':k   // request.vars.rating
                              }
                      );
                    });
        })(k);
        span.mouseout(fill_stars);
        fill_stars();
    });
</script>
<script>
    $(function() {
        // Ractive object
        var MAIN = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                active_comment: "",
                down_url: "{{=URL('download')}}" + '/',
                image_dict: {},
                image_comments: {},
                image_id: ""
            },
        });
        // Loads the initial list of images.
          $.ajax("{{=URL('default', 'load_images', user_signature=True)}}",
                  {
                    method: 'POST',
                    success: function (data) {
                      MAIN.set('image_dict', data['image_dict']);
                      MAIN.set('loading', false);
                    }
                  }
          );
        MAIN.on("add_comment", function(e) {
            var comment = MAIN.get('active_comment');
            var t = $(e.original.target); // This is the button on which we clicked.
            var clicked_id = t.data('msgid');  // To set it, you could do .data('msgid', 'my id');

            $.ajax("{{=URL('default', 'add_comment', user_signature=True)}}",
                    {
                        data: {
                            new_comment: comment,
                            id: clicked_id,
                          },
                          method: 'POST',
                        success: function() {
                            console.log("Successfully added comment");
                            $.ajax("{{=URL('default', 'load_images', user_signature=True)}}",
                              {
                                method: 'POST',
                                success: function (data) {
                                  MAIN.set('image_dict', data['image_dict']);
                                  MAIN.set('loading', false);
                                }
                              }
                            );
                          },
                          error: function() {
                              console.log("Unsuccessfully added comment");
                          }
                        });
                      return false;
        });
        // Listens to click on add note buttons for drafts.
        MAIN.on("set_draft", function(e) {
            var t = $(e.original.target); // This is the button on which we clicked.
            var clicked_id = t.data('msgid');  // To set it, you could do .data('msgid', 'my id');
            var image_dict = MAIN.get('image_dict');

            image_dict[clicked_id]['is_draft'] = true;

            MAIN.set('image_dict', image_dict);

        });

    });
</script>
<Script>
$(document).ready(function(){
    var height = $(window).height();
    var width = $(window).width();
});
</Script>
