<!-- Gallery view -->
<!-- Pills tab: http://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp -->
{{extend 'layout.html'}}



<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{

        }
    </style>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<body>
<div class = "navpills">
    <ul class="nav nav-tabs">
        
        <li><a href="#">Gallery  {{=icon_gallery}}</a></li>
        <li><a href="../default/feed">Explore  {{=icon_explore}}</a></li>
        <li><a href="../default/upload">Upload  {{=icon_upload}}</a></li>
        {{if auth.is_logged_in():}}
            <li><a href="../default/user/logout">Log Out  {{=icon_logout}}</a></li>
            {{else:}}
            <li><a href="../default/user/login">Log In  {{=icon_logout}}</a></li>
        {{pass}}
    </ul>
</div>


<!--
buttons for resizing. javascript code below will act on these buttons

-->
<div class = "galleryview">
</div>
<span class="test">
<button class="Button" id="size4">{{=icon_square}} {{=icon_square}} {{=icon_square}} {{=icon_square}} {{=icon_square}}</button>
<button class="Button" id="size3">{{=icon_square}} {{=icon_square}} {{=icon_square}} {{=icon_square}}</button>
<button class="Button" id="size2">{{=icon_square}} {{=icon_square}} {{=icon_square}}</button>
<button class="Button" id="size1">{{=icon_square}} {{=icon_square}}</button>
</span>
<br>
<br>
<br>

<div class="gallery">
<!--
    {{if auth.user:}}
        <a href="{{=URL('default', 'gallery')}}" style="cursor: pointer;">{{=icon_write}}</a>
        <a href="{{=URL('default', 'gallery')}}" style="cursor: pointer;">{{=icon_delete}}</a>
    {{pass}}
        -->

<!--
    For every picture in gallery, display stars for rating and trash can for deleting
    -->
    {{for image in images:}}
    <span class="gallerySingle" id="hover">
        <span class="Image" onclick=window.location="{{=URL('default', 'single', args=image['id'], user_signature=True)}}" style="cursor: pointer;">
            <img class = 'galleryImg' src="{{=URL('download',args=image['image'])}}" align="center"  onmouseover="onHover();" onmouseout="offHover();"/>
        </span>
        <div class="icons">
            <input class="form-control rating" value="{{=image['rating']}}" data-picid="{{=image['id']}}"/>
            <div class="trashcan">
                <a href="{{=URL('default', 'delete_image', args=image['id'])}}" style="cursor: pointer;">     {{=icon_trash}}</a>
            </div>
        </div>

        <div class="hold"></div>
    </span>
    {{pass}}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>



<script>
    //implement star rating system, much like homework 4.
    //each picture is assigned an id

jQuery('input.rating').each(function(){
    var span = jQuery('<span style="white-space:nowrap" />');
    var self = jQuery(this).hide().after(span);
    var fill_stars = function(){
        var k = parseInt(self.val()) || 0;
        for(var i=1; i < 6; i++)span.find('.rate'+i).html ((i<=k)?'&#x2605;':'&#x2606;');
    };
        span.append('<span class="rate'+k+'">&#x2606;</span>');
        span.find('.rate'+k).mouseover(function(){
            for(var i=1; i < 6; i++)span.find('.rate'+i).html((i<-k)?'&#x2605;':'&#x2606;');
        }).click(function(){
            self.val(k);
            fill_stars();
            jQuery.post(
                    '{{=URL('vote', user_signature=True)}}',
                    {
                        'picid':self.attr('data-picid'),
                        'rating':k
                    }
            );
        });
    (k);
    span.mouse(fill_stars);
    fill_stars();
});
</script>

<script>
$(document).ready( function() {
$('[id="hover"]').hover(
        function() {
          $(this).find('img').css('border-bottom-left-radius', '0px');
          $(this).find('img').css('border-bottom-right-radius', '0px');
          $(this).find('img').stop().animate({width: "100%", height: "auto"});
          $(this).siblings().find('img').stop().animate({width: "90%", height: "auto"});
          $(this).siblings().stop().fadeTo(500, '.5');
          $(this).find(".icons").show();
          $(this).find(".hold").attr("height", "0px");

        }, function() {
          $(this).find('img').css('border-bottom-left-radius', '5px');
          $(this).find('img').css('border-bottom-right-radius', '5px');
          $(this).find('img').stop().animate({width: "93%", height: "auto"});
          $(this).siblings().find('img').stop().animate({width: "93%", height: "auto"});
          $(this).siblings().stop().fadeTo(500, '1');
          $(this).find(".icons").hide();
          $(this).find(".hold").attr("height", "25px");
        }
    );
});
</script>

<script>
    //Buttons allow resizing of all photos instantly.
    //User will be able to choose from 4 different sizes

$("button#size1").click(function() {
  $(this).parent().siblings().find(".gallerySingle").stop().animate({width: "49%", height: "auto"});
});
$("button#size2").click(function() {
  $(this).parent().siblings().find(".gallerySingle").stop().animate({width: "33%", height: "auto"});
});
$("button#size3").click(function() {
  $(this).parent().siblings().find(".gallerySingle").stop().animate({width: "23.75%", height: "auto"});
});
$("button#size4").click(function() {
  $(this).parent().siblings().find(".gallerySingle").stop().animate({width: "19%", height: "auto"});
});
</script>

<script>
jQuery('input.rating').each(function(){
        var span = jQuery('<span style="white-space:nowrap" />');
        var self = jQuery(this).hide().after(span);
        var fill_stars = function() {
            var k = parseInt(self.val()) || 0;
            for(var i=1; i<6; i++) span.find('.rate'+i).html((i<=k)?'&#x2605;':'&#x2606;');
        };
        for(var k=1; k<6; k++) (function(k){
                span.append('<span class="rate'+k+'">&#x2606;</span>');
                span.find('.rate'+k).mouseover(function(){
                        for(var i=1; i<6; i++) span.find('.rate'+i).html((i<=k)?'&#x2605;':'&#x2606;');
                    }).click(function(){
                      self.val(k);
                      fill_stars();
                      jQuery.post(
                              '{{=URL('vote', user_signature=True)}}',
                              {
                                'picid':self.attr('data-picid'),  // request.vars.picid
                                'rating':k   // request.vars.rating
                              }
                      );
                    });
        })(k);
        span.mouseout(fill_stars);
        fill_stars();
    });
</script>
</body>
</html>