<!-- This login screen is taken from http://codepen.io/motorlatitude/pen/JFkro
     License below:
     Background picture taken from: http://www.nova-institut.de/bbe/media/2012/12/Antelope-Canyon.jpg
     <!--
Copyright (c) 2015 by Lennart Hase (http://codepen.io/motorlatitude/pen/JFkro)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<!DOCTYPE html>
<html>
    <link href="myapp.css">
    <head>
        {{if auth.is_logged_in():}}
                <script>
                    window.location = "../default/gallery";
                </script>
        {{pass}}
        <meta charset="UTF-8">
        <title>Pixel</title>
        <!--Required to add the styling to the page-->
        <link rel="stylesheet" type="text/css" href=".././static/css/index.css">
        <!-- change image code below -->
        <script type = "text/javascript">
            function displayNextImage(){
              x = (x === images.length - 1) ? 0 : x + 1;
              document.getElementById("img").src = images[x];
            }

            function displayPreviousImage(){
              x = (x <= 0) ? images.length - 1 : x - 1;
              document.getElementById("img").src = images[x];
            }

            function startTime(){
              setInterval(displayNextImage, 3000);
            }

            var images = [], x = -1;
            images[0] = "img0.jpg";
            images[1] = "img1.jpg";
            images[2] = "img2.jpg";
        </script>

      <!-- end of picture changing code -->

        <style>
        /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
        @import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
        @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

            body{
	            margin: 0;
	            padding: 0;
                background: #fff;

                color: #fff;
                font-family: Arial;
                font-size: 12px;
            }

            ::-webkit-input-placeholder{
               color: rgba(255,255,255,0.6);
            }

            ::-moz-input-placeholder{
               color: rgba(255,255,255,0.6);
            }
        </style>
        <script src="js/prefixfree.min.js"></script>
    </head>

    <body>
        <div class="body"></div>
        <div class="grad"></div>
        <div class="header">
            <div><font size = "7">PIXEL</font></div>
        </div>
        <br>
        <div class="login">
            {{if auth.is_logged_in():}}
            {{else:}}
                <input type="button" value="Login" onclick=window.location="{{=URL('default', 'user', args='login')}}" style="cursor: pointer;">
                <input type="button" value="Sign Up" onclick=window.location="{{=URL('default', 'user', args='register')}}" style="cursor: pointer;">
            {{pass}}
                <input type="button" value="View Gallery" onclick=window.location="{{=URL('default', 'gallery')}}" style="cursor: pointer;">
        </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    </body>
</html>
