{{extend 'layout.html'}}


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Case</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>


    <body>
    <div class = "navpills">
        <ul class="nav nav-tabs">

            <li><a href="../../default/gallery">Gallery  {{=icon_gallery}}</a></li>
            <li><a href="../../default/feed">Explore  {{=icon_explore}}</a></li>
            <li><a href="../../default/upload">Upload  {{=icon_upload}}</a></li>
            {{if auth.is_logged_in():}}
                <li><a href="../../default/user/logout">Log Out  {{=icon_logout}}</a></li>
            {{else:}}
                <li><a href="../../default/user/login">Log In  {{=icon_logout}}</a></li>
            {{pass}}
        </ul>
    </div>


    <!-- This allows us to use CamanJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>


    <div style="text-align: center"">

        <div id="image_comment" class="col-lg-6" style="margin-top: 20px;">
            <div id="Singleview">
                    <canvas id="canvas"></canvas>
                </div>
            <div id="target"></div>
            <script id="template" type="text/ractive">
                <div class="desc_head">Name :</div>
                <textarea value="{% active_name %}" class="text form-control" cols="20" id="no_table_message" name="desc" rows="5">
                </textarea>
                <input class="btn btn-primary" type="submit" value="Update Name" on-click="update_name"/>
                <div class="desc_head">Description :</div>
                <textarea value="{% active_desc %}" class="text form-control" cols="20" id="no_table_message" name="desc" rows="5">
                </textarea>
                <input class="btn btn-primary" type="submit" value="Update Description" on-click="update_desc"/>

            </script>
        </div>

        <div id="sliders" class="col-lg-6" style="margin-top: 20px;">
            <label for="hue">Hue</label>
            <input id="hue" name="hue" type="range" min="0" max="100" value="0">
            <label for="contrast">Contrast</label>
            <input id="contrast" name="contrast" type="range" min="-20" max="20" value="0">
            <label for="vibrance">Vibrance</label>
            <input id="vibrance" name="vibrance" type="range" min="-100" max="100" value="0">
            <label for="sepia">Sepia</label>
            <input id="sepia" name="sepia" type="range" min="0" max="100" value="0">
            <label for="brightness">Brightness</label>
            <input id="brightness" name="brightness" type="range" min="-100" max="100" value="0">
            <label for="satuaration">Saturation</label>
            <input id="saturation" name="saturation" type="range" min="-100" max="100" value="0">
            <label for="exposure">Exposure</label>
            <input id="exposure" name="exposure" type="range" min="-50" max="50" value="0">
            <label for="noise">Noise</label>
            <input id="noise" name="noise" type="range" min="0" max="50" value="0">
        </div>
    <br>
        <div id="filtetrs" class="col-lg-6">
            <button id="randombtn" class="btn btn-success">Random Filter</button>
            <button id="resetbtn" class="btn btn-success">Reset Photo</button>
            <button id="overwritebtn" class="btn btn-success">Overwrite Photo</button>
            <button id="deletebtn" class="btn btn-warning">Delete Photo</button>
        </div>
    </div>



    <script>
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext('2d');
            /* Enable Cross Origin Image Editing */
            var img = new Image();
            img.crossOrigin = '';
            img.src = '{{=URL('download', args=image)}}';
            var aspectRatio = img.naturalWidth/img.naturalHeight;
            img.onload = function () {
                var w = img.naturalWidth;
                var h = img.naturalHeight;
                img.width = $('#Singleview').width();
                var ratio = img.width/w;
                img.height = h * ratio;
                canvas.width = img.width;
                canvas.height = img.height;
                ctx.drawImage(img, 0, 0, img.width, img.height);
                var descriptHeight = img.height + $('#target').height() + $('#filtetrs').height();
                $('#image_comment').css("height", descriptHeight);
            };



            // button variables
            var $random = $('#randombtn');
            var $reset = $('#resetbtn');
            var $overwrite = $('#overwritebtn');
            var $delete = $('#deletebtn');

            // image_id in database
            var image_id = '{{=image_id}}';

            $('input[type=range]').change(applyFilters);
            function applyFilters() {
                // slider variables
                var hue     = parseInt($('#hue').val());
                var cont    = parseInt($('#contrast').val());
                var vib     = parseInt($('#vibrance').val());
                var sep     = parseInt($('#sepia').val());
                var bright  = parseInt($('#brightness').val());
                //var gamma   = parseInt($('#gamma').val());
                var sat     = parseInt($('#saturation').val());
                var expo    = parseInt($('#exposure').val());
                var noise   = parseInt($('#noise').val());

                Caman('#canvas', img, function() {
                this.revert(false);
                this.render();
                });
                Caman('#canvas', img, function () {
                    this.revert(false);
                    this.hue(hue);
                    this.contrast(cont);
                    this.vibrance(vib);
                    this.sepia(sep);
                    this.brightness(bright);
                    //this.gamma(gamma);
                    this.saturation(sat);
                    this.exposure(expo);
                    this.noise(noise);
                    this.render();
                });

            }

            $random.on('click', function(e) {
                $('input[type=range]').val(0);
                Caman('#canvas', img, function() {
                this.revert(false);
                this.render();
                });
                var random = Math.random();
                Caman('#canvas', img, function() {
                    if(random < .1){
                        this.vintage().render();
                    } else if(random >= .1 && random < .2){
                        this.sinCity().render();
                    } else if(random >= .2 && random < .3){
                        this.sunrise().render();
                    } else if(random >= .3 && random < .4){
                        this.love().render();
                    } else if(random >= .4 && random < .5) {
                        this.emboss().render();
                    } else if(random >= .5 && random < .6){
                        this.grungy().render();
                    } else if(random >= .6 && random < .7){
                        this.pinhole().render();
                    } else if(random >= .7 && random < .8){
                        this.oldBoot().render();
                    } else if(random >= .8 && random < .9) {
                        this.hazyDays().render();
                    } else {
                        this.glowingSun().render();
                    }
                    this.render();
                });
            });

            $reset.on('click', function(e) {
                $('input[type=range]').val(0);
                Caman('#canvas', img, function() {
                this.revert(false);
                this.render();
                });
            });


              // This code is called when the 'overwrite image' button is pressed.
              $overwrite.on('click', function(e) {
                  Caman('#canvas', img, function() {
                      var overwrite_image = this.toBase64();
                      saveToServer(overwrite_image);
                  });
              });
              // This code is called when the 'delete image' button is pressed.
              $delete.on('click', function(e) {
                   $.ajax("{{=URL('default', 'delete_image', args=image_id, user_signature=True)}}",
                        {
                          data: {
                          },
                          method: 'POST',
                          success: function() {
                              console.log("Successfully deleted image");
                              window.location.href = '../gallery';
                          },
                          error: function() {
                              console.log("Unsuccessfully deleted image");
                          }
                        });
                      return false;
              });

              function saveToServer(new_image) {
                    $.ajax("{{=URL('default', 'overwrite_image', args=image_id, user_signature=True)}}",
                            {
                              data: {
                                image: new_image
                              },
                              method: 'POST',
                              success: function() {
                                console.log("Successfully overwritten image")
                              },
                              error: function() {
                                  console.log("Unsuccessfully overwritten image.")
                              }
                            }
                    );
              }
              $(function() {
                  // Ractive object
                  var MAIN = new Ractive({
                      el: '#target',
                      template: '#template',
                      delimiters: ['{%', '%}'],
                      tripleDelimiters: ['{%%', '%%}'],
                      data: {
                          active_desc: "{{=desc}}",
                          active_name: "{{=name}}",
                          image_id: "{{=image_id}}"
                      },
                  });
                  MAIN.on("update_name", function(e) {
                      var name = MAIN.get('active_name');
                        $.ajax("{{=URL('default', 'overwrite_name', args=image_id, user_signature=True)}}",
                        {
                          data: {
                              new_name: name,
                          },
                          method: 'POST',
                          success: function() {
                              console.log("Successfully updated name");
                          },
                          error: function() {
                              console.log("Unsuccessfully updated name");
                          }
                        });
                      return false;
                  });
                  MAIN.on("update_desc", function(e) {
                      var desc = MAIN.get('active_desc');
                        $.ajax("{{=URL('default', 'overwrite_desc', args=image_id, user_signature=True)}}",
                        {
                          data: {
                              new_description: desc,
                          },
                          method: 'POST',
                          success: function() {
                              console.log("Successfully updated description");
                          },
                          error: function() {
                              console.log("Unsuccessfully updated description");
                          }
                        });
                      return false;
                  });


            });


    </script>