{{extend 'layout.html'}}

<link rel="stylesheet" type="text/css" href="../../static/css/index.css">

<h2> Upload an Image</h2>
{{=form}}
<input type="button" value="Return to Gallery" onclick=window.location="{{=URL('default', 'gallery')}}"
       style="cursor: pointer;">
