/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
span.gallery {
  overflow: scroll;
  text-align: center;
}

/* line 11, ../sass/_main.scss */
.navpills {
  line-height: 130%;
  font-size: medium;
}

/* line 16, ../sass/_main.scss */
span.gallerySingle {
  display: inline-block;
  width: 23.75%;
}

/* line 21, ../sass/_main.scss */
.gallerySingle:hover {
  border: solid 1px #CCC;
  border-radius: 5px;
  overflow: hidden;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

/* line 30, ../sass/_main.scss */
span.Image {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}

/* line 39, ../sass/_main.scss */
img.galleryImg {
  width: 93%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  white-space: pre-wrap;
  border-radius: 5px;
  overflow: hidden;
}

/* line 51, ../sass/_main.scss */
div.feed {
  padding-top: 20px;
  padding-bottom: 20px;
  display: table;
  width: 100%;
}

/* line 58, ../sass/_main.scss */
div.feedItem {
  display: table-row;
  padding-bottom: 20px;
}

/* line 62, ../sass/_main.scss */
div.feedLeft {
  float: left;
  width: 50%;
  display: inline-block;
  height: auto;
  padding: 10px;
}

/* line 70, ../sass/_main.scss */
div.feedRight {
  float: right;
  display: inline-block;
  width: 50%;
  height: auto;
  padding: 10px;
}

/* line 77, ../sass/_main.scss */
img.feedImg {
  width: 95%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 5px;
  overflow: hidden;
}

/* line 89, ../sass/_main.scss */
div.commenthead {
  font-size: 20px;
}

/* line 92, ../sass/_main.scss */
div.comments {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  background-color: #CCC;
}

/* line 99, ../sass/_main.scss */
div.textback {
  background-color: #CCC;
  padding: 2px;
}

/* line 103, ../sass/_main.scss */
div.singlecomment {
  display: table-row;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 108, ../sass/_main.scss */
div.icons {
  cursor: pointer;
  display: none;
  font-size: 20px;
  text-align: center;
  height: 25px;
}

/* line 115, ../sass/_main.scss */
div.trashcan {
  float: right;
  padding-right: 15px;
}

/* line 120, ../sass/_main.scss */
div.hold {
  height: 25px;
  color: white;
}

/* line 125, ../sass/_main.scss */
span.test {
  float: right;
}

/* line 128, ../sass/_main.scss */
.Button {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  background: #5c5c5c;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

/* line 139, ../sass/_main.scss */
.Button:hover {
  background: #706f70;
  text-decoration: none;
}

/* line 144, ../sass/_main.scss */
div.Singleview {
  width: 50%;
}

/* line 148, ../sass/_main.scss */
div.helper {
  height: 100px;
  width: 100px;
}
