.colorful {
  color: $clrHilight;
}

span.gallery{
  overflow: scroll;
  text-align: center;

}

.navpills {
  line-height: 130%;
  font-size: medium;
}

span.gallerySingle{
  display: inline-block;
  width: 23.75%;
}

.gallerySingle:hover {
  border: solid 1px #CCC;
  border-radius: 5px;
  overflow: hidden;
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;
}

span.Image{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}


img.galleryImg{
  width: 93%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  white-space: pre-wrap;
  border-radius: 5px;
  overflow: hidden;
}
div.feed{
  padding-top: 20px;
  padding-bottom: 20px;
  display: table;
  width: 100%;
}

div.feedItem{
  display: table-row;
  padding-bottom: 20px;
}
div.feedLeft{
  float: left;
  width: 50%;
  display: inline-block;
  height: auto;
  padding: 10px;
}

div.feedRight{
  float: right;
  display: inline-block;
  width: 50%;
  height: auto;
  padding: 10px;
}
img.feedImg{
  width: 95%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  border-radius: 5px;
  overflow: hidden;
}

div.commenthead{
  font-size: 20px;
}
div.comments{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    background-color: #CCC;
}

div.textback{
  background-color: #CCC;
  padding: 2px;
}
div.singlecomment{
    display: table-row;
    text-overflow: ellipsis;
    overflow: hidden;
}
div.icons{
  cursor: pointer;
  display: none;
  font-size: 20px;
  text-align: center;
  height: 25px;
}
div.trashcan{
  float: right;
  padding-right: 15px;
}

div.hold{
  height: 25px;
  color: white;
}

span.test{
  float: right;
}
.Button {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #ffffff;
  font-size: 14px;
  background: #5c5c5c;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.Button:hover {
  background: #706f70;
  text-decoration: none;
}

div.Singleview{
  width: 50%;
}

div.helper{
  height: 100px;
  width: 100px;
}